<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('somedir')
    ->notPath('src/Symfony/Component/Translation/Tests/fixtures/resources.php')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],
        'array_indentation' => true,
        'no_multiline_whitespace_around_double_arrow' => true,
        "binary_operator_spaces" => [
            "operators" => ['=>' => PhpCsFixer\Fixer\Operator\BinaryOperatorSpacesFixer::ALIGN_SINGLE_SPACE_MINIMAL]
        ],
        'phpdoc_align' => true,
        'phpdoc_indent' => true,
        'phpdoc_inline_tag' => true,
        'phpdoc_no_empty_return' => true,
        'phpdoc_no_useless_inheritdoc' => true,
        'phpdoc_separation' => true,
        'phpdoc_summary' => true,
        'phpdoc_to_comment' => true,
        'phpdoc_trim' => true,
        'no_whitespace_before_comma_in_array' => true,
        'whitespace_after_comma_in_array' => true,
        'no_whitespace_in_blank_line' => true,
        'blank_line_before_statement' => true,
        'no_empty_phpdoc' => true,
    ])
    ->setFinder($finder)
;
